*{
    margin: 0%;
}
.box783{
    height: 165px;
    width: 245px;
    background-color: yellowgreen;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    background-image: url("https://b.zmtcdn.com/data/pictures/chains/6/18921506/75d75e807811e84ac4ce348a61cd2f3e_featured_v2.jpg?fit=around%7C200%3A200&crop=200%3A200%3B%2A%2C%2A");
    background-size: cover;
}
