*{
    margin: 0%;
}
.box705{
    height: 165px;
    width: 245px;
    background-color: yellowgreen;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    background-image: url("https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_508,h_320,c_fill/y5fy1tuznuavqugprna8");
    background-size: cover;
}