*{
    margin: 0%;
}
.box775{
    height: 165px;
    width: 245px;
    background-color: yellowgreen;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    background-image: url("https://b.zmtcdn.com/data/pictures/2/18694292/9ace1e62f93b0c24afa272b6daff7517_featured_v2.jpg?fit=around%7C200%3A200&crop=200%3A200%3B%2A%2C%2A");
    background-size: cover;
}