*{
    margin: 0%;
}
.box821{
    height: 165px;
    width: 245px;
    background-color: yellowgreen;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    background-image: url("https://b.zmtcdn.com/data/pictures/5/19243285/c6072f126425c6797612ce16513f3f90_featured_v2.jpg?fit=around%7C200%3A200&crop=200%3A200%3B%2A%2C%2A");
    background-size: cover;
}