*{
    margin: 0%;
}
.box903{
    height: 165px;
    width: 245px;
    background-color: yellowgreen;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    background-size: cover;
}